.jobs-list {
  background: var(--colors-base-white);
  padding-bottom: 6rem;
}

.job-item {
  background: var(--colors-themed-background--next);
  color: var(--colors-base-grey--next);
  border-color: transparent;
  border-radius: unset;
  display: flex;
  justify-content: flex-start;
  padding: 32px;
  flex: 0 100%;
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: unset;
  }
}

.job-info {
  flex: 0 100%;
  }

.job-title {
  flex: 0 100%;
}
.job-details {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0 100%;
}

.job-description {
  flex: 0 100%;
  color: var(--colors-base-grey--next);
}



