.team {
  background-color: var(--colors-base-light);
  padding: 112px 0;

  & a:any-link {
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-dark);
    }
  }

  & a:any-link i {
    color: var(--colors-base-grey-600--next);
    transition: all ease 200ms;

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-themed-primary--next);
    }
  }
}

